/* ************************************* */
/*                                       */
/*   App CSS                             */
/*   -> One file to style them all       */
/*                                       */
/* ************************************* */

/* ------------------------------------- */
/*   Colors
/* ------------------------------------- */

/* background brownish: #2a1a12 */
/* text: #99a6a7 */
/* text featured: #8c546d */

/* ------------------------------------- */
/*   Global
/* ------------------------------------- */

html,
body,
main {
  height: 100%;
}

body {
  background: #2a1a12;
  color: #99a6a7;
  font-family: 'Milonga', cursive;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #8c546d;
}

h1 {
  font-size: 36px;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* ------------------------------------- */
/*   Landing
/* ------------------------------------- */

.landing {
  flex-basis: 100%;
  text-align: center;
}

.landing-title {
  line-height: 1;
  margin: 9px 0 0 0;
}

.landing-slogan {
  margin-top: 9px;
}

/* ------------------------------------- */
/*   Buttons
/* ------------------------------------- */

.btn {
  background: #a4d7d3;
  border-radius: 4px;
  padding: 12px 0;
}

/* ------------------------------------- */
/*   Forms
/* ------------------------------------- */

form {
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

input {
  border: 0;
  border-radius: 4px;
  display: block;
  font-family: 'Milonga', cursive;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

input[type='submit'] {
  display: block;
  margin: 18px auto 0 auto;
  width: 50%;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}

fieldset {
  border: 0;
  padding: 5px 0;
}

/* ------------------------------------- */
/*   Section Name
/* ------------------------------------- */
